@import url(https://fonts.googleapis.com/css?family=Seaweed+Script|Open+Sans:400,300);
* {
  box-sizing: border-box;
}
body {
  color: white;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight:lighter;
  display: flex;
  padding:0;
  margin:0;
  min-height:100vh;
}
.app {
  flex: 1;
  display:flex;
  flex-direction:column;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.wrapper {
  width:100%;
  max-width: 900px;
  margin: 0 auto;
  text-align:center;
}
h1 {
  font-family: 'Seaweed Script', cursive;
  font-size:72px;
  margin: 10px 0;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.container {
  width: 100%;
  position:relative;
}
button, a.button {
  display:inline-block;
  font-weight:lighter;
  margin:10px 5px;
  padding:10px;
  font-size: 14px;
  border:0;
  color:#DD6675;
  transition: all ease 0.2s;
  background-color:#FFF;
  box-shadow:0 0 5px rgba(0,0,0,0.2);
  border-radius:4px;
  text-decoration:none;
}
button:hover, button:focus, button:active {
  color:#FFA139;
  box-shadow:0 0 10px rgba(0,0,0,0.4);
  cursor:pointer;
  outline:0;
}
a {
  color:#DD6675;
}
select {
  -webkit-appearance: none;
  appearance: none;
  display:inline-block;
  font-weight:lighter;
  margin:10px 5px;
  padding:10px 30px 10px 10px;
  font-size: 14px;
  border:0;
  color:#DD6675;
  transition: all ease 0.2s;
  background-color:#FFF;
  box-shadow:0 0 5px rgba(0,0,0,0.2);
  border-radius:4px;
  width:200px;
}
.overlay-arrow {
  pointer-events: none;
  font-size: 10px;
  color: #DD6675;
  cursor: default;
  display:inline-block;
  width:20px;
  margin-left:-25px;
  margin-right:5px;
  padding-right:10px;
  text-align:right;
}
select:focus {
  color: #FFA139;
  outline:0;
  box-shadow:0 0 10px rgba(0,0,0,0.4);
}
select:focus + .overlay-arrow {
  color: #FFA139;
}
#topContainer {
  flex: 1 0;
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
  padding: 20px 0 40px 0;
  position:relative;
}
#viz {
  position:absolute;
  bottom:10px;
  right:10px;
  color: rgba(255, 255, 255, 0.7);
  font-size:12px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
#viz a {
  color:#FFF;
  font-weight: bold;
  cursor: pointer;
  text-decoration:underline;
}
.intro {
  position:relative;
  z-index:5;
  text-align:center;
  text-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#instrument {
  padding: 10px;
  font-size: 16px;
}
#viewport {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

  -webkit-perspective: 400; 
  -moz-perspective: 400; 
  -o-perspective:400;
  perspective:400;
  overflow: hidden;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7c756+0,d13884+100 */
  background: #f7c756; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7c756 0%, #d13884 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7c756), color-stop(100%,#d13884)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7c756 0%,#d13884 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7c756 0%,#d13884 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7c756 0%,#d13884 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7c756 0%,#d13884 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c756', endColorstr='#d13884',GradientType=0 ); /* IE6-9 */

}
#viewport svg {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
#world {
  background-color:none;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  width: 0;
  overflow:visible;
}
#world.fadein {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-delay: 2s;
  delay: 2s; 
}

#world div {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  position:absolute;
  overflow:visible;
}
.collapsible {
  overflow: hidden;
}
#footer {
  background-color:#902273;
  padding:10px;
  flex:0;
}




@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
