<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Chordi</title>

    <!-- Bootstrap -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <body data-spy="scroll" data-target=".navbar-collapse">
    <div class="app">
      <div class="container" id="topContainer">
        <div id="viewport" class="cube">
          <div id="world"></div>
        </div>
        <div class="intro wrapper">
          <h1 class="marginTop">Chordi</h1>
          <p class="lead">Procedural music, taught with data from real artists</p>
          <div id="try" class="collapsible">
            <button id="scroll" type="button" class="btn btn-default">Try it now!</button>
          </div>
          <div id="settings" class="collapsible" style="height:0">
            <select id="instrument" style="width:200px">
              <option value="1" selected>Grand Piano</option>
              <option value="5">Electric Piano</option>
              <option value="27">Electric Guitar</option>
              <option value="67">Tenor Sax</option>
              <option value="105">Sitar</option>
              <option value="122">Breath Noise</option>
              <option value="57">Trumpet</option>
              <option value="49">String Ensemble</option>
              <option value="102">Goblins</option>
              <option value="53">Choir Aahs</option>
              <option value="120">Guitar Slide</option>
            </select><div class="overlay-arrow">&#9660;</div>
            <select id="mode" style="width:100px">
              <option value="major" selected>Major</option>
              <option value="minor">Minor</option>
            </select><div class="overlay-arrow">&#9660;</div>
            <button type="button" id="generate" class="btn btn-default">Generate Music</button>
          </div>
          <div id="loading" class="collapsible" style="height:0">
            <p>Loading...</p>
          </div>
          <div id="controls" class="collapsible" style="height:0">
            <button type="button" class="btn btn-default" onclick="document.getElementById('audioElement').play()">Play</button>
            <button type="button" class="btn btn-default" onclick="document.getElementById('audioElement').pause()">Pause</button>
            <button type="button" class="btn btn-default" onclick="document.getElementById('audioElement').volume+=0.1">Increase Volume</button>
            <button type="button" class="btn btn-default" onclick="document.getElementById('audioElement').volume-=0.1">Decrease Volume</button>
            <button type="button" id="back" class="btn btn-default">Back</button>
          </div>
          <audio id="audioElement"></audio>
        </div>
        <div id="viz">
          Visualization:
          <a id="cube">Cube</a> | 
          <a id="graph">Graph</a>
        </div>
      </div>
      <div class="container contentContainer" id="footer">
        <div class="wrapper">
          <p>
          Find out more!
          <a href="https://github.com/pahgawk/BeatBot">View source on GitHub</a>
          </p>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/3d.js" type="text/javascript"></script>
    <script src="js/viz.js" type="text/javascript"></script>
  </body>
</html>
